.catalogue{
    height: 1124px;
    background-color: #FFF8F3;
}
.container{
    max-width: 1128px;
    margin: auto;
}
.catal_title_block{
    text-align: center;
}
.catal_title{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #000000;
    padding-top: 40px;
    text-align: center;

}
title_img{
    margin-top: 5px;
}
.catal_img{
    width: 300px;
    height: 300px;
    align-items: center;
    margin-top: 30px;
    border-radius: 5px;
}
.catal_card_item{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    background: #E5E5E5;
    margin-right: 20px;
}
.catal_card_item_const {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    text-align: center;
    background: #E5E5E5;
}
.catal_card{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.catal_card_title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
}
.catal_card_desc{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
}

.catal_card_a{
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;

}
.catal_card_btn{
    background: #2B3844;
    font-family: "Rafale", sans-serif;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-top: 5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
.catal_card_btn:hover{
    border: none;
    background-color: #A0CED8;
}
