.catalogue{
    height: 1024px;
    background-color: #FFF8F3;
}
.container{
    max-width: 1128px;
    margin: auto;
}
.catal_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 0px;
    color: #2B3844;
    padding-top: 60px;
    text-align: center;

}
.catal_img{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 40px;
}
.catal_card_item{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    margin-left: 11px;
    margin-bottom: 11px;
}
.catal_card{
    display: flex;
    margin-top: 35px;
}
.catal_card2{
    display: flex;
}
.catal_card_title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 0px;
    padding-top: 20px;
    color: #2B3844;
    text-align: center;
    margin-left: 25px;
}
.catal_card_btn{
    background: #2B3844;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 125px;
}
