@font-face {
  font-family: "Open Sans";
  src: url("/font/Rafale-RU.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.container {
  max-width: 1128px;
  margin: auto;
}
button:hover {
  background-color: transparent;
  color: #2B3844;
}

.header {
  background-image: url(@/assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 129px;
}

.header__menu__list {
  display: flex;

}

.header_menu_item {
  list-style-type: none;
}


.header_link {
  padding-top: 58px;
  padding-right: 128px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2B3844;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.header__content {
  display: flex;
  justify-content: center;
}

.logo {
  padding-top: 27px;
  padding-right: 128px;
}

.header_input {
  box-sizing: border-box;
  width: 165px;
  height: 45px;
  margin-top: 47px;
  border: 1px solid #2B3844;
  border-radius: 5px;
  background: transparent;
}

.menu_btn {
  width: 73px;
  height: 45px;
  margin-top: 47px;
  background: #2B3844;
  border-radius: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.menu_btn:hover {
  background: transparent;
  color: #2B3844;
}

.footer {
  height: 100px;
  background-color: #2B3844;
  display: flex;
}

.footer_inst {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-left: 130px;
}

.footer_facebook {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-left: 50px;

}

.footer_p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: 553px;
  margin-right: 633px;
}

.footer_vk {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-right: 50px;


}

.footer_telegram {
  width: 40px;
  height: 40px;
  margin-top: 30px;

}