.tour{

    height: 1324px;
    background-color: #FFF8F3;

}
.container_tour{
    max-width: 1428px;
    margin: auto;
}
.tour__title__block{
    text-align: center;
}

.tour_title{
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    padding-top: 40px;
}
.tour_title_img{
    margin-top: 5px;
}
.tour__card{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.tour_card_item{
    width: 450px;
    height: 530px;
    background: #E5E5E5;
    border-radius: 5px;
    text-align: center;
    margin-right: 20px;
}
.tour_card_item_const{
    width: 450px;
    height: 530px;
    background: #E5E5E5;
    border-radius: 5px;
    text-align: center;
}
.hotel_img{
    width: 450px;
    border-radius: 5px;
}
.tour_card_title{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
}
.tour_rating{
    margin-top: -49px;
}
.tour_card_info{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}
.tour_img{
    margin-right: 5px;
}

.tour_card_place{
    display: flex;
}
.tour_card_data{
    display: flex;
}
.tour_card_night{
    display: flex;
}
.text_place{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 3px;
}
.text_place_const{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin-top: 3px;
}
.text_tour{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}
.tour_btn{
    font-family: "Rafale", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    background: #2B3844;
    border-radius: 5px;
    width: 450px;
    height: 40px;
    margin-top: 33px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.tour_btn:hover{
    border: none;
    background-color: #A0CED8;
}



